<div class="container">
  <div class="user-details">
    <h3> Featured Projects </h3>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="keras" src="{{ "/assets/img/nlp.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Text Generation </h5>
      <li> Keras, Python</li>
      <p>The goal of this project is to generate text, accordingly to what our system has learned from its training, analyzing the text of certain datasets. Therefore the main idea is to predict the next characters given an input text.</p>
      <a class="project-link" href="https://github.com/DipLernin/Text_Generation">Check it out</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <img alt="mountains" src="{{ "/assets/img/smart.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Smart City </h5>
      <ul>
        <li> Scikit Learn, Python, Flask</li>
      </ul>
      <p>We designed and implemented an open-source web-application to explore the touristic points of interest as well as to do sentiment analysis in the related social network data. We scored over 2 million tweets. We also used word2vec to recommend relevant information </p>
      <a class="project-link" href="https://github.com/DMKM1517/SmartCity">Check it out</a>
    </div>
  </div>
</div>
