<div class="container">
  <div class="user-details">
    <h3> Featured Projects </h3>
  </div>

  <div class="row user-projects">
    <div class="six columns images">
      <img alt="R" src="{{ "/assets/img/ren4.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Forcasting renewable energy </h5>
      <li> R, Shiny</li>
      <p>This poject was part of a reserach internship <a href="http://eric.ish-lyon.cnrs.fr/">here</a>. We built an online dashboard that could forecast renewable energy supply based on hyper parameters, this allowed the end users to simulate their experiments quickly. We also found marked equilibrium on simulated renewables data using linear optimisation.</p>
      <a class="project-link" href="https://kkalyan3.shinyapps.io/ShinyApp/">Check it out</a>
    </div>
  </div>

<div class="row user-projects">
    <div class="six columns">
      <img alt="python" src="{{ "/assets/img/smart.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Smart City </h5>
      <ul>
        <li> Scikit Learn, Python, Flask</li>
      </ul>
      <p>In the project we designed and implemented an open-source web-application to explore the touristic points of interest as well as to do sentiment analysis in the related social network data. We scored over 2 million tweets.</p>
      <a class="project-link" href="https://github.com/DMKM1517/SmartCity">Check it out</a>
    </div>
  </div>

  <div class="row user-projects">
    <div class="six columns images">
      <img alt="keras" src="{{ "/assets/img/nlp.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Text Generation </h5>
      <li> Keras, Python</li>
      <p>The goal of this project is to generate text, accordingly to what our system has learned from its training, analyzing the text of certain datasets. Therefore the main idea is to predict the next characters given an input text.</p>
      <a class="project-link" href="https://github.com/DipLernin/Text_Generation">Check it out</a>
    </div>
  </div>

  

</div>
